body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    flex-direction: column;
}
canvas .game{
    border: 1px solid black;
}

.container{
    display: flex;
    flex-direction: row;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: 25px;
}

h1 {
    font-family: 'VT323';
    font-size: 75px;
}